/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require vendor/font-awesome/css/all.min.css
 *= require vendor/hs-mega-menu/dist/hs-mega-menu.min.css
 *= require vendor/dzsparallaxer/dzsparallaxer.css
 *= require vendor/cubeportfolio/css/cubeportfolio.min.css
 *= require vendor/aos/dist/aos.css
 *= require vendor/fancybox/dist/jquery.fancybox.min.css
 *= require vendor/slick-carousel/slick/slick.css
 *= require vendor/ion-rangeslider/css/ion.rangeSlider.css
 *= require vendor/hs-video-bg/dist/hs-video-bg.min.css
 *= require vendor/leaflet/dist/leaflet.css
 */

 @font-face {
    font-family: "Mabry Pro";
    font-weight: 900 !important;
    src: url("/font/Mabry\ Pro.otf") format("opentype");
  }
